.message{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-around;
    flex-shrink: 1;
    border-top:1px solid gray;
    height: 60px;

}
.message div{
    width: 20%;
}
.message_middle{
    flex-grow: 2;
}
.message_left span{
    margin-top: 10px;
    margin-left: 10px;
}

.message_right span{
    line-height: 60px;
}
.avatar{
    margin-left: 10px;
    line-height: 30px;
}