.gameContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 446px;
    height: 446px;
    border:1px solid gray;
    margin:0 auto;
    background-color: khaki;
}
.gameContainer div{
    width: 100px;
    height: 100px;
    border:1px solid blueviolet;
    border-radius: 20px;
    margin:5px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.animation2{
    background-color: rgba(0, 0, 0, .3)
    
}
.animation4{
    background-color: rgba(0,0,0,.5);
}
.animation8{
    background-color: rgba(0,0,0,.8);
}
.animation16{
    background-color: lightblue;
}
.animation32{
    background-color: skyblue;
}
.animation64{
    background-color: blue;
}
.animation128{
    background-color: plum;
}
.animation128{
    background-color: palevioletred ;
}
.animation128{
    background-color: purple;
}
.animation128{
    background-color: olive;
}
.animation256{
    background-color: orange;
}
.animation512{
    background-color: fuchsia;
}
.animation1024{
    background-color: saddlebrown;
}
.animation2048{
    background-color: red;
}

