#dailogMany{
	width: 375px; 
	height: 667px;
	margin:0 auto;
	position: absolute;
    background-color: rgba(0,0,0,.6);
}

#dailogManyClose{
	float: right;
	width: 50px;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
	background-color: white;
	font-size: 1.1em;
}

#dailogManyButton{
	width: 180px;
	height: 200px;
	background-color: white;
	float: left;
	margin-top: 180px;
	margin-left: 100px;
}

#dailogManyButton button{
	height: 30px;
	width: 150px;
	margin-top: 45px;
	margin-left: 15px;
	border:1px solid blue;
}
