.messageBox{
	width: 375px;
	height: 550px;
	overflow: hidden;
}
.messageBox1{
	width: 375px;
	height: 550px;
	overflow-y: scroll;
	padding-right: 20px;
}

.messageList{
	list-style: none;
	width: 375px;
	height: 70px;
	margin-top: 1px;
	border-bottom: 1px solid gray;
}

.messageBox img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	float: left;
	margin:8px 5px;
}

.messageBoxTitelDescription{
	width: 200px;
	height: 60px;
	float: left;
	margin-top: 5px;
}

.messageBoxTimeMany{
	float: right;
	width: 60px;
	height: 70px;
	margin-right: 5px;
}
.pTitle{
	margin-top: 5px;
	font-size: 1.1em;
	font-weight: 20px;
}

.pDescription{
	margin-top:5px;
	font-size: 0.8em;
	color: gray;
}


.pTime{
	text-align: center;
	font-size: 1em;
	color: gray;
	margin-top: 5px;
}

.messageBoxTimeMany button{
	text-align: center;
	font-size: 0.8em;
	width: 35px;
	height: 20px;
	border-radius: 10px;
	margin:10px 12px;
}