.navBottom{
	width: 375px;
	height: 65px;
	display: flex;
	border-top: 1px solid gray;
}

.navBottom div{
	width: 95px;
	text-align: center;
	margin-top: 10px;
}

.navBottom img{
	width: 30px;
	height: 30px;
}
.navBottom p{
	font-size: 0.7em;
}