.navTop{
	width: 375px;
	height: 50px;
  background-color: black;
}

.navTop ul{
	margin-right: -10px;
}

.navTop li{
	list-style: none;
	float:right;
	margin-right: 20px;
	margin-top: 10px;
}

.navTop img{
	width: 30px;
	height: 30px;
}

.navTopSpan{
	float:left;
	width: 55px;
	height: 30px;
	margin-top:10px;
	margin-left: 10px;
}

.navTopSpan span{
	color: white;
	font-size: 20px;
}
