.navtop{
    width: 100%;
    height: 50px;
    border:1px solid gray;
}

.navtop_left{
    float: left;
    width: 70%;
    height: 50px;
}
.navtop_left div{
    width: 50%;
    font-size: 20px;
    line-height: 45px;
    margin-left: 5px;
}

.navtop_left button{
    float: right;
    background-color: #fff;
    border-radius: 10%;
    width: 14%;
    font-size: 1rem;
    margin-top: -38px;
    margin-right: 15px;
}



.navtop_right{
    width: 30%;
    float: right;
    height: 50px;
    background-color: rgba(0, 0, 0, .03);

}
.navtop_right_serach{
    float: right;
    margin-top: 3px;
}
.navtop_right_select{
    width: 20%;
    margin-top: 3px;
}