ol{
	list-style: none;
}

.colorList{
	float: right;
	margin-top: 25px;
	margin-right: 35px;
}

.colorRed{
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: red;
}

.colorBlack{
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: black;
}

.colorYellow{
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: yellow;
}

.colorPurple{
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: purple;
}
.colorRed img{
	width: 20px;
	height: 20px;
}
.colorBlack img{
	width: 20px;
	height: 20px;
}
.colorPurple img{
	width: 20px;
	height: 20px;
}
.colorYellow img{
	width: 20px;
	height: 20px;
}