*{
    margin: 0;
    padding: 0;
}
.jurisdiction{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.title{
    width: 96%;
    margin: 10px auto ;
    font-size: 15px;
    font-weight: bold;
}