
.comments_title{
    width: 100%;
    border-top:1px solid gray;
    height: 40px;
    line-height: 40px;
    font-size: 16px;

}
.comments_title_left{
    float: left;
}
.comments_title_right{
    float: right;
    margin-right: 5px;
}

.comments_content{
    width: 100%;
    clear: both;
    font-size: 20px;
    border-bottom:1px solid gray;
}

.red{
    color: red;
}

.tuihui{
    color: red;
    float: right;
    margin-top: -50px;
    margin-right: 10px;
}